---
layout: gabe
---

<div id="banner" class="page-header">
  <div class="container">
    <div class="col-xs-12">
      <h1 class="page-title">Gabrial Scholz joins Brewhouse</h1>
      <p>
        (on August 11th, 2014, Major <span style='font-family:"Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";'>🔑</span>)
        <br/> We’re ashamed &mdash; poor Gabe. He had to share a welcome blog post with Lana and we’re reminded monthly of such a slight on our parts. So, for the record, we want all to know that we are so #blessedup to have Gabe on the team and have decided to dedicate our homepage to all things Gabe.
      </p>
    </div>
  </div>
</div>

<div class="container content" id="services">

  <h2 class="text-center">
    Gabrial Scholz
  </h2>

  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 party">
    <p>
      <center>
        <image style="width:285px!important;height:auto;" src="images/gabe/gabe.jpg"></image>
      </center>
    </p>
  </div>

  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <p>
       <strong>Philippe:</strong> &mdash; Gabe enabled Brewhouse to press the Turbo button: a 33 mhz productivity increase fueled with Veggie Breakfast Sandwich with Bacon, colourful shirts with ninja fruits and fast development with gabascript. Brewhouse would not be Bro'house without him.</a>
    </p>
  </div>

  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <p>
       <strong>Kalv:</strong> &mdash; Without Gabe I would not be using <strike>Snapcat</strike> Snapchat today, yep he introduced me to DJ Khaled on there.</a>
    </p>
  </div>

  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <p>
       <strong>Pat:</strong> &mdash; If it wasn't for Gabe, I would have continued believing that I was good at Tetris.
    </p>
  </div>

  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <p>
       <strong>Paulo:</strong> &mdash; Gabe told me that I am his favourite chef turned developer. But I am the only chef turned developer that he knows.
    </p>
  </div>

  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <p>
       <strong>Alex:</strong> &mdash; Before I met Gabe, I thought Javascript was just for alert dialogs. Now, I code only in Stage-0 ES9, and I’m loving every minute of it!
    </p>
  </div>

  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <p>
       <strong>Edward:</strong> &mdash; In the short time that I’ve worked with Gabe, I’ve learned a ton. Like the optimal spice/sauce ratio to place on chicken wings, or the ability to judge, visually, whether a wing can be de-boned and consumed in one motion, like a cat consumes a fish in cartoons.
    </p>
  </div>

  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <p>
       <strong>Lana:</strong> &mdash; Gabe is cool AF. <— I learned that from him. It’s like I met that foreign friend who only teaches you the dirty words of their language. That’s Gabe to me.
    </p>
  </div>

  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 party">
    <p>
      <center>
        <image style="width:285px!important;height:auto;" src="images/gabe/won.jpg"></image>
      </center>
    </p>
  </div>

</div>


<section class="hire-us text-center">
  <h2>Would you like to work with him?</h2>
  <a href="/work-with-us.html" class="btn btn-primary">
    Let Gabe help you!
  </a>
</section>

{% include _sharing.html %}

{% include _lets_talk.html %}
