---
layout: application
title:
---

<div id="banner" class="page-header">
  <div class="container">
    <div class="col-xs-12 col-md-10">
      <h1 class="page-title">We design &amp; develop <br class="hidden-xs"> products people love.</h1>
      <p>
          <em>We believe creating digital products is a craft</em>, like brewing that perfect cup of coffee from well-sourced beans. A passion for solving real problems faced by real people is at the heart of why we do what we do, and our transparent, collaborative process brings our team into alignment with your goals and aspirations.
        </p>
        <p>
          Our team is made up of designers, developers, and product managers who love the process of building products just as much as that perfect cup of coffee.
        </p>
    </div>
  </div>
</div>
<img src="/images/bg-banner.jpg" alt="The Brewhouse Team" class="img-responsive">

<div id="services">
    {% include _services.html %}
</div>

{% include _work.html %}

{% include _projects.html %}

<div id="sharing">
  {% include _sharing.html %}
</div>
