<div class="container post-list">

  {% for post in site.posts limit:1 %}

  <div class="col-md-6">

    {% if post.podcast %}
    <h2>Latest Podcast</h2>
    {% else %}
    <h2>Latest Blog Post</h2>
    {% endif %}

    <a href="{{ post.url }}" class="post-link">
      <span class="post-date">{{ post.date | date_to_string }}</span>
      <h3 class="post-title">{{ post.title }}</h3>
    </a>

    {{ post.content | split:'<!-- break -->' | first }}

  </div>

  {% endfor %}

  <div class="col-md-5 col-md-push-1">

    <h2>More Learning &amp; Sharing</h2>

    <ul class="list-unstyled">
 
      {% for post in site.posts limit:4 offset:1 %}
      {% unless post.draft %}
      {% assign author = site.data.authors[post.author] %}

      <li>
        <a href="{{ post.url }}" class="post-link">
          <span class="post-date">{{ post.date | date_to_string }}</span>
          <h4 class="post-title">{{ post.title }}</h4>
        </a>
      </li>
    
      {% endunless %}
      {% endfor %}

    </ul>

  </div>

</div>

<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>