<div class="body-border-top">
</div>
<div id="banner-blog" class="row">
  <div class="banner-content">
    <section class="col-xs-12 col-sm-5">
      <h1 id="brew-pub-start">
        <a href="/blog/"><img src="/images/blog-brew-pub-logo.png"></a>
      </h1>
      <h3>
        Writings from <a href="http://brewhouse.io">brewhouse.io</a>, makers of <a href="https://goodbits.io?utm_source=brewhouse-blog">Goodbits</a>.
        <br>
        We partner with teams to build superb apps.
      </h3>
    </section>
    <section class="col-xs-12 col-sm-4">
      <p class="blog-contact-info">
        Need help today with a project?
        <br><a href="/work-with-us.html">Hire us.</a>
      </p>
    </section>
  </div>
</div>
