<!-- info on this here, as well as further details re: validation, etc: http://morning.am/tutorials/how-to-style-google-forms/ -->
<script type="text/javascript">
  var submitted = false;
</script>

<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='/thanks.html';}"></iframe>

<form accept-charset="UTF-8" action="https://docs.google.com/a/brewhouse.io/forms/d/1REQEAU8bM5sOYzV_iOjwOssmiWVclVDPlHGdeZhF3m4/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;" class="form">
  <div class="form-group">
    <input type="text" class="form-control" name="entry.198792335" value="" id="entry_198792335" dir="auto" aria-label="What's Your Name?" placeholder="What's Your Name?" aria-required="true" required="true" title=""> 
  </div>
  <div class="form-group">
    <input type="email" class="form-control" name="entry.1691412198" value="" id="entry_1691412198" dir="auto" aria-label="What's Your Email Address?" placeholder="What's Your Email Address?" aria-required="true" required="true" title="">
  </div>
  <div class="form-group">
    <textarea class="form-control" name="entry.1701421508" value="" cols="0" rows="3" id="entry_1701421508" dir="auto" aria-label="What would you like our help in building?" placeholder="What would you like our help in building?" aria-required="true" required="true" title=""></textarea>
  </div>

  <div class="form-group">

    <label class="form-label" for="group_347804019_1">What is three plus six? (Sorry we only talk to humans for now)</label>

    <div class="radio">
      <label>
        <input type="radio" name="entry.347804019" value="Don't know" id="group_347804019_1" role="radio" class="ss-q-radio" aria-label="Don't know" required="" aria-required="true">
        Don't know
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="entry.347804019" value="10" id="group_347804019_2" role="radio" class="ss-q-radio" aria-label="10" required="" aria-required="true">
        10
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="entry.347804019" value="7" id="group_347804019_3" role="radio" class="ss-q-radio" aria-label="7" required="" aria-required="true">
        7
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="entry.347804019" value="9" id="group_347804019_4" role="radio" class="ss-q-radio" aria-label="9" required="" aria-required="true">
        9
      </label>
    </div>
  </div>

  <div class="form-group">
    <input class="btn btn--header" name="submit" type="submit" value="Send Details">
  </div>

</form>