<aside class="lets-talk cover">
  <div class="container">
    <div class="col-sm-6">
      <h4>Let&apos;s Talk</h4>
      <p class="lede">We partner with businesses to design and develop well-loved products through a flexible and transparent process. We'd love to discuss how our process can help your idea become a reality.</p>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-6">
      <a href="http://maps.apple.com/?q=210%20Carrall,+Vancouver,+Canada">#303 - 210 Carrall St, Vancouver, BC
      V6B 2J1</a><br>
      <a href="tel:+16047574242">+1 604-757-4242</a> &middot;
      <a href="mailto:hello@brewhouse.io">hello@brewhouse.io</a> &middot;
      <a href="http://twitter.com/brewhouseteam">@brewhouseteam</a>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
      <a href="/work-with-us.html" class="btn btn--footer">Hire Us</a>
      <a href="http://j.mp/brewhouse-dev" class="btn btn--footer">Now Hiring</a>
    </div>
  </div>
</aside>
