<div class="container content">

  <h2 class="col-xs-12" id="clients">
    We're proud to have worked with some amazing clients:
  </h2>

  <ul class="list-unstyled clearfix text-center client-logos">

    <li class="col-sm-6 col-md-3">
      <a href="http://contour.com/">
        <img id="contour-logo" src="/images/logos/contour.png" alt="Contour">
      </a>
    </li>
    <li class="col-sm-6 col-md-3">
      <a href="http://avenuespaces.com/">
        <img id="avenue-logo" src="/images/logos/avenue.svg" alt="Avenue">
      </a>
    </li>
    <li class="col-sm-6 col-md-3">
      <a href="http://zozi.com/">
        <img id="zozi-logo" src="/images/logos/zozi.png" alt="Zozi">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://www.fuelpowered.com/">
        <img id="fuel-logo" src="/images/logos/fuel.png" alt="Fuel">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://retargetlinks.com/">
        <img id="retarget-links-logo" src="/images/logos/retarget_links.png" alt="Retarget Links">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="https://www.visualcv.com/">
        <img id="visualcv-logo" src="/images/logos/visualcv.png" alt="Visual CV">
      </a>
    </li>

    <li class="col-sm-3">
      <a href="http://carb.io/">
        <img id="carb-logo" src="/images/logos/carb.png" alt="Carb.io">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://www.guestfolio.com/">
        <img id="guestfolio-logo" src="/images/logos/guestfolio.png" alt="Guestfolio">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://spacelist.ca/">
        <img id="spacelist-logo" src="/images/logos/spacelist.png" alt="Spacelist">
      </a>
    </li>

    <li class="col-sm-3">
      <a href="https://lendesk.com/">
        <img id="lendesk-logo" src="/images/logos/lendesk.png" alt="Lendesk">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://perch.co">
        <img id="perch-logo" src="/images/logos/perch.png" alt="Perch">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="https://www.dabohealth.com">
        <img id="dabo-health-logo" src="/images/logos/dabo_health.png" alt="Dabo Health">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://www.commandwear.com" class="project-logo">
        <img id="commandwear-logo" src="/images/logos/commandwear.png" alt="CommandWear">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://artona.ca/">
        <img id="artona-logo" src="/images/logos/artona.png" alt="Artona">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://www.contractual.ly" class="project-logo">
        <img id="contractually-logo" src="/images/logos/contractually.png" alt="Contractually">
      </a>
    </li>
  </ul>

  <div class="hire-us col-xs-12 text-center">
    <h2>Have an idea you'd like to ship?</h2>
    <a href="/work-with-us.html" class="btn btn-primary">
      Let us help you!
    </a>
  </div>

</div>
