<div class="client-logos container text-center content">

  <h2 id="clients">
    Companies We've Worked With:
  </h2>

  <ul class="list-unstyled">

    <li class="col-sm-3">
      <a href="http://zozi.com/">
        <img id="zozi-logo" src="/images/logos/zozi.png">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://www.fuelpowered.com/">
        <img id="fuel-logo" src="/images/logos/fuel.png">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://retargetlinks.com/">
        <img id="retarget-links-logo" src="/images/logos/retarget_links.png">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="https://www.visualcv.com/">
        <img id="visualcv-logo" src="/images/logos/visualcv.png">
      </a>
    </li>

    <li class="col-sm-3">
      <a href="http://carb.io/">
        <img id="carb-logo" src="/images/logos/carb.png">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://www.guestfolio.com/">
        <img id="guestfolio-logo" src="/images/logos/guestfolio.png">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://spacelist.ca/">
        <img id="spacelist-logo" src="/images/logos/spacelist.png">
      </a>
    </li>

    <li class="col-sm-3">
      <a href="https://lendesk.com/">
        <img id="lendesk-logo" src="/images/logos/lendesk.png">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://perch.co">
        <img id="perch-logo" src="/images/logos/perch.png">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="https://www.dabohealth.com">
        <img id="dabo-health-logo" src="/images/logos/dabo_health.png">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://www.commandwear.com" class="project-logo">
        <img id="commandwear-logo" src="/images/logos/commandwear.png">
      </a>
    </li>
    <li class="col-sm-3">
      <a href="http://artona.ca/">
        <img id="artona-logo" src="/images/logos/artona.png">
      </a>
    </li>


    <li class="col-sm-3">
      <a href="http://www.contractual.ly" class="project-logo">
        <img id="contractually-logo" src="/images/logos/contractually.png">
      </a>
    </li>
  </ul>
</div>
