<h3>
  Projects
</h3>

<h3 class="header-small">
  Internal Projects:
</h3>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="project">
      <a href="http://goodbits.io" class="project-logo">
        <img id="goodbits-logo" src="/images/logos/goodbits.png" />
      </a>
      <p>
        Collect &amp; curate content from the web and build it into an email newsletter.
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="project">
      <a href="http://caliper.io" class="project-logo">
        <img id="caliper-logo" src="/images/logos/caliper.png" />
      </a>
      <p>
        A Performance Management &amp; Monitoring tool for Ember and Backbone applications.
      </p>
    </div>
  </div>
<!--
  <div class="col-xs-12 col-sm-4">
    <div class="project text-center">
      <a href="http://yourcallisimportantto.us" class="project-logo">
        <img id="yciitu-logo" src="/images/logos/yciitu.png" />
      </a>
      <p>
        Replace your call center with this affordable hotline solution.
        <br><em>April Fools, 2013</em>
      </p>
    </div>
  </div> -->

</div>

<br>
<h3 id="clients" class="header-small">
  We've Worked With:
</h3>

<div class="client-logos row text-center">
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="http://zozi.com/">
      <div class="client-logo">
        <img id="zozi-logo" src="/images/logos/zozi.png">
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="http://www.fuelpowered.com/">
      <div class="client-logo">
        <img id="fuel-logo" src="/images/logos/fuel.png">
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="http://retargetlinks.com/">
      <div class="client-logo">
        <img id="retarget-links-logo" src="/images/logos/retarget_links.png">
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="https://www.visualcv.com/">
      <div class="client-logo">
        <img id="visualcv-logo" src="/images/logos/visualcv.png">
      </div>
    </a>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="http://carb.io/">
      <div class="client-logo">
        <img id="carb-logo" src="/images/logos/carb.png">
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="http://www.guestfolio.com/">
      <div class="client-logo">
        <img id="guestfolio-logo" src="/images/logos/guestfolio.png">
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="http://spacelist.ca/">
      <div class="client-logo">
        <img id="spacelist-logo" src="/images/logos/spacelist.png">
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="http://86network.com">
      <div class="client-logo">
        <img id="eightsix-logo" src="/images/logos/eightsix.png">
      </div>
    </a>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="https://lendesk.com/">
      <div class="client-logo">
        <img id="lendesk-logo" src="/images/logos/lendesk.png">
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="http://perch.co">
      <div class="client-logo">
        <img id="perch-logo" src="/images/logos/perch.png">
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="https://www.dabohealth.com">
      <div class="client-logo">
        <img id="dabo-health-logo" src="/images/logos/dabo_health.png">
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="http://artona.ca/">
      <div class="client-logo">
        <img id="artona-logo" src="/images/logos/artona.png">
      </div>
    </a>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="http://www.contractual.ly" class="project-logo">
      <div class="client-logo">
        <img id="contractually-logo" src="/images/logos/contractually.png">
      </div>
    </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="http://www.commandwear.com" class="project-logo">
      <div class="client-logo">
        <img id="commandwear-logo" src="/images/logos/commandwear.png">
      </div>
    </a>
  </div>
</div>


<br>
<h3 id="clients" class="header-small">
  Partnerships:
</h3>

<div class="client-logos row text-center">
  <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-3">
    <a href="http://chloi.io/">
      <div class="client-logo">
        <img id="chloi-logo" src="/images/logos/chloi.png">
      </div>
    </a>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-offset-0 col-md-3">
    <a href="http://www.steamclock.com/">
      <div class="client-logo">
        <img id="steamclock-logo" src="/images/logos/steamclock.png">
      </div>
    </a>
  </div>
</div>
