<div class="container content" id="services">

  <h2 class="text-center">
    Our Services
  </h2>

  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

    <p>
       <strong>Product Design Sprint</strong> &mdash; Before a single line of code is written, it's important to ensure that what's being built is what customers actually need. A product design sprint brings our respective teams into the same room to understand the problem, brainstorm &amp; sketch possible solutions, converge around one or two ideas worth validating, prototype the best ideas, and test those ideas with real customers.
    </p>

  </div>

  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

    <p>
       <strong>Product Design &amp; Development</strong> &mdash; Our team of <a href="/meet-the-team.html">designers &amp; developers</a> work directly with product owners to ship products people love. Our collaborative, flexible process is completely transparent, allowing product owners the ability to make educated decisions around what needs to be built. <a href="/work/contour/" class="btn btn-link">Read How We Built Contour &rarr;</a>
    </p>

  </div>

  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

    <p>
       <strong>MVP Build</strong> &mdash; If you are looking to build an MVP (Minimum Viable Product) for your business, our product development team can assist you. We work alongside your team, refine your scope with our Product Design Sprint and get on working to ship your final product.
       <a href="/work/retargetlinks/" class="btn btn-link">Read How We Shipped an MVP for Retarget Links &rarr;</a>
    </p>

  </div>

</div>
