<div class="container">
  <div class="col-sm-4 text-center design">
    <img src="/images/icons/icon-thumbprint.svg" alt="Design">

    <h4>
      Design
    </h4>

    <p>
      Our process starts by identifying motivations, insights, and opportunities. We design systems that empower users to solve their problem and create irresistible experiences they will love.
    </p>

    <ul class="list-unstyled">
      <li>
        Research
      </li>
      <li>
        Branding
      </li>
      <li>
        UX/UI Design
      </li>
      <li>
        Prototyping
      </li>
    </ul>
  </div>

  <div class="col-sm-4 text-center develop">
    <img src="/images/icons/icon-brain.svg" alt="Develop">

    <h4>
      Develop
    </h4>

    <p>
      Our fullstack developers work closely with our designers to take what we've learned during the design process and apply it to building applications that are consistent and reliable.
    </p>

    <ul class="list-unstyled">
      <li>
        AngularJS
      </li>
      <li>
        EmberJS
      </li>
      <li>
        Ruby on Rails
      </li>
      <li>
        Code Therapy &amp; Training
      </li>
    </ul>
  </div>

  <div class="col-sm-4 text-center love">
    <img src="/images/icons/icon-heart.svg" alt="Love">

    <h4>
      Love
    </h4>

    <p>
      From designing and developing applications to contributing to open source projects and organizing local developer meetups; everything we do, we do for people.
    </p>

    <ul class="list-unstyled">
      <li>
        Open Source
      </li>
      <li>
        Meetups
      </li>
      <li>
        Conferences
      </li>
      <li>
        Blogging
      </li>
    </ul>
  </div>
</div>
