<section id="sharing" class="post-list">

  <div class="container">

    <h4 class="col-xs-12">Recently at Brewhouse</h4>

    {% for post in site.posts limit:1 %}

    <div class="col-md-6">

      <a href="{{ post.url }}" class="post-link">
        <span class="post-date">{{ post.date | date_to_string }}</span>
        <h2 class="post-title">{{ post.title }}</h2>
      </a>

      {{ post.content | split:'<!-- break -->' | first }}

    </div>

    {% endfor %}

    <div class="col-md-5 col-md-push-1">

      <ul class="list-unstyled">
   
        {% for post in site.posts limit:4 offset:1 %}
        {% unless post.draft %}
        {% assign author = site.data.authors[post.author] %}

        <li>
          <a href="{{ post.url }}" class="post-link">
            <span class="post-date">{{ post.date | date_to_string }}</span>
            <h4 class="post-title">{{ post.title }}</h4>
          </a>
        </li>
      
        {% endunless %}
        {% endfor %}

      </ul>

    </div>

  </div>

</section>