<footer id="footer">
  <div class="container">
    <nav role="navigation" class="col-md-6">
        <ul>
          <li>
            <a class="internal" href="/#work">Work</a>
          </li>
          <li>
            <a class="internal" href="/meet-the-team.html">Team</a>
          </li>
          <li>
            <a class="internal" href="/blog">Blog</a>
          </li>          
          <li>
            <a class="internal" href="/blog">Podcast</a>
          </li>
        </ul>
    </nav>
    <div class="col-md-5 col-md-push-1">
      <p class="copyright">
        &copy; <span class="copyright-year"></span> <a href="http://brewhouse.io">brewhouse software, inc.</a>
      </p>
    </div>
  </div>
</footer>
