<h3>
  Community
</h3>

<div class="row">
  <div class="col-sm-6">

    <div class="row">
      <div class="col-sm-3 hidden-xs">
        <h4>
          <img src="images/rails_logo.png" class="img-responsive"></img>
        </h4>
      </div>

      <div class="col-sm-9">
        <h4>
          We <span style="color: #DD1414;">&lt;3</span> Open Source
        </h4>
        <p>
          Our work wouldn’t be possible without of the quality software created by the Open Source software community. We are core committers to projects such as <a href="http://rubyonrails.org/">Rails</a> and <a href="http://activeadmin.info/">ActiveAdmin</a>.
          <!-- (We also contribute patches back to projects that we leverage)... -->
        </p>
      </div>

    </div>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-9">
        <h4>#VANRUBY</h4>
        <p>
          We are big believers in community. We co-organize the <a href="http://vanruby.org/">#VANRUBY</a> meetups in Vancouver, bringing disparate programmers together as a whole.

          <!-- (Also mention we share knowledge in our blog and go speak at conferences.)
          (? Vancouver Ember.js meetup ?) -->
        </p>
      </div>
      <div class="col-sm-3 hidden-xs">
        <h4>
          <img src="images/vanruby_logo.png" class="img-responsive"></img>
        </h4>
      </div>


    </div>
  </div>
</div>
