<div class="content">
  <h3>
    Let's talk
  </h3>

  <p>
    Our office is located in the heart of Vancouver's historic Gastown district. Stop by for a cup of coffee sometime.
  </p>
</div>

<div class="map" title="By Stuart Thomson (1881 - 1960) [Public domain], via Wikimedia Commons">
  <div class="map-inner">
    <div class="contact-details">
      <h4>
        brewhouse hq:
      </h4>

      <address>
        #303 - 210 Carrall St
        <br>Vancouver, BC
        <br>V6B 2J1
        <br><span class="small">(<a href="http://maps.apple.com/?q=210 Carrall,+Vancouver,+Canada">map</a>)</span>
      </address>

      <p>
        <a class="telephone" href="tel:+16046147784">+1 604-614-7784</a>
      </p>

      <p>
        <a href="mailto:hello@brewhouse.io">hello@brewhouse.io</a>
      </p>
    </div>
  </div>
</div>
