<nav id="navbar-main" class="navbar navbar-default navbar-main" role="navigation">
  <div class="navbar-inner-wrapper">

    <div class="logo-container">
      <a id="brewhouse-logo" class="navbar-brand internal" rel="home" href="http://brewhouse.io/#banner" title="brewhouse logo"><img src="/images/brewhouse-logo.png"></a>
    </div>

    <div class="main-menu">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul id="navbar-links" class="nav navbar-nav navbar-right">
          <li><a class="internal" href="http://brewhouse.io/#team">Our Team</a></li>
          <li><a class="internal" href="http://brewhouse.io/#services">Services</a></li>
          <li><a class="internal" href="http://brewhouse.io/#projects">Projects</a></li>
          <li class="highlight-link"><a class="internal" href="http://brewhouse.io/#contact">Hire Us</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>

  </div>
</nav>
