<div class="col-xs-12">
  <h3>
    The Team
  </h3>

  <div class="row">
    <div class="team-member col-xs-6 col-sm-3">
      <img class="img-responsive" src="/images/team/charles_bergeron_charlesellery.jpg">
      <div class="team-member-name">
        Charles Bergeron
      </div>
    </div>
    <div class="team-member col-xs-6 col-sm-3">
      <img class="img-responsive" src="/images/team/kalvir_sandhu_kalv.jpg">
      <div class="team-member-name">
        Kalvir Sandhu
      </div>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="team-member col-xs-6 col-sm-3">
      <img class="img-responsive" src="/images/team/godfrey_chan_chancancode.jpg">
      <div class="team-member-name">
        Godfrey Chan
      </div>
    </div>
    <div class="team-member col-xs-6 col-sm-3">
      <img class="img-responsive" src="/images/team/philippe_creux_pcreux.jpg">
      <div class="team-member-name">
        Philippe Creux
      </div>
    </div>
  </div>

  <hr>


  <div class="row">
    <div class="bio col-xs-12 col-sm-6">
      <h4>
        Charles Bergeron
        <div class="social-buttons">
          <a href="https://github.com/chuckbergeron" target="_blank"><i class="fi-social-github"></i></a>
          <a href="https://twitter.com/ChuckBergeron" target="_blank"><i class="fi-social-twitter"></i></a>
          <a href="http://ca.linkedin.com/in/chuckbergeron" target="_blank"><i class="fi-social-linkedin"></i></a>
        </div>
      </h4>

      <p>
        Start-up entrepreneur and product afficiando. Chuck finds solace in taming complex digital systems and delivering performant and memorable experiences. Part design, part dev-ops, part frontend, part backend ... Too many parts to name.
      </p>
    </div>
    <div class="bio col-xs-12 col-sm-6">
      <h4>
        Godfrey Chan
        <div class="social-buttons">
          <a href="https://github.com/chancancode" target="_blank"><i class="fi-social-github"></i></a>
          <a href="https://twitter.com/chancancode" target="_blank"><i class="fi-social-twitter"></i></a>
          <a href="http://ca.linkedin.com/in/godfreykfc" target="_blank"><i class="fi-social-linkedin"></i></a>
        </div>
      </h4>

      <p>
        Master brewer. He enjoys working with the latest and greatest technology as well as solving hard problems™. Toting a unique background of computer science, cognitive science, and interaction design. A serious Open Source contributor, as a core committer to Ruby on Rails and other much loved projects.
      </p>
    </div>
  </div>


  <div class="row">
    <div class="bio col-xs-12 col-sm-6">
      <h4>
        Kalvir Sandhu
        <div class="social-buttons">
          <a href="https://github.com/kalv" target="_blank"><i class="fi-social-github"></i></a>
          <a href="https://twitter.com/kalv" target="_blank"><i class="fi-social-twitter"></i></a>
          <a href="http://ca.linkedin.com/in/kalvir" target="_blank"><i class="fi-social-linkedin"></i></a>
        </div>
      </h4>

      <p>Tech entrepreneur. Kalv has shipped many products and applications since starting his development career over 15 years ago. With his knowledge and experience he helps build products from napkin ideas by helping with hands on development, business strategy or even just making the coffee. He contributes to the Vancouver tech community as the organizer of <a href="#community">#vanruby</a>.
      </p>
    </div>

    <div class="bio col-xs-12 col-sm-6">
      <h4>
        Philippe Creux
        <div class="social-buttons">
          <a href="https://github.com/pcreux" target="_blank"><i class="fi-social-github"></i></a>
          <a href="https://twitter.com/pcreux" target="_blank"><i class="fi-social-twitter"></i></a>
          <a href="http://ca.linkedin.com/in/pcreux" target="_blank"><i class="fi-social-linkedin"></i></a>
        </div>
      </h4>

      <p>
      Philippe is an enthusiastic programmer.
      He likes to turn complex requirements into intuitive software powered by elegant code.
      He is one of the core contributors of the administration framework for Rails, <a href="http://activeadmin.info">ActiveAdmin</a>.
      He shares his joy of programming by running meet-ups,
      organizing <a href="http://2012.rulu.eu">conferences</a>,
      and running a <a href="http://parlonsruby.com">podcast</a>.
      </p>
    </div>
  </div>
</div>

<div class="clearfix"></div>
