<h3>
  Projects
</h3>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="project text-center">
      <a href="http://goodbits.io" class="project-logo">
        <img id="goodbits-logo" src="/images/logos/goodbits.png" />
      </a>
      <p>
        Collect &amp; curate content from the web and build it into an email newsletter.
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="project text-center">
      <a href="http://caliper.io" class="project-logo">
        <img id="caliper-logo" src="/images/logos/caliper.png" />
      </a>
      <p>
        A Performance Management &amp; Monitoring tool for Ember and Backbone applications.
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="project text-center">
      <a href="http://yourcallisimportantto.us" class="project-logo">
        <img id="yciitu-logo" src="/images/logos/yciitu.png" />
      </a>
      <p>
        Replace your call center with this affordable hotline solution.
        <br><em>April Fools, 2013</em>
      </p>
    </div>
  </div>
</div>

<br>
<h3 class="header-small">
  We've Worked With:
</h3>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="project text-center">
      <a href="http://www.contractual.ly" class="project-logo">
        <img id="contractually-logo" src="/images/logos/contractually.png">
      </a>
      <p>
        Making it easy to edit, share and discuss contract revisions &amp; negotiations.
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="project text-center">
      <a href="http://www.commandwear.com" class="project-logo">
        <img id="commandwear-logo" src="/images/logos/commandwear.png">
      </a>
      <p>
        Give leaders better insight using an integrated wearable technology solution.
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="project text-center">
      <a href="http://www.blacktuskmedia.com" class="project-logo">
        <img id="blacktusk-logo" src="/images/logos/blacktusk.png">
      </a>
      <p>
        An interactive learning and support tool for your contact centers.
      </p>
    </div>
  </div>
</div>

<div class="client-logos row text-center">
  <div class="col-xs-6 col-sm-3">
    <a href="https://medeo.ca">
      <div class="client-logo">
        <img id="medeo-logo" src="/images/logos/medeo.png">
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3">
    <a href="http://perch.co">
      <div class="client-logo">
        <img id="perch-logo" src="/images/logos/perch.png">
      </div>
    </a>
  </div>
  <!-- <div class="col-xs-6 col-sm-3">
    <a href="https://habeas.co/"><img src="/images/logos/habeus.png"></a>
  </div> -->
  <div class="col-xs-6 col-sm-3">
    <a href="http://gofreerange.com/">
      <div class="client-logo">
        <img id="go-free-range-logo" src="/images/logos/go_free_range.png">
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3">
    <a href="http://www.steamclock.com/">
      <div class="client-logo">
        <img id="steamclock-logo" src="/images/logos/steamclock.png">
      </div>
    </a>
  </div>
</div>


<div class="client-logos row text-center">
  <div class="col-xs-6 col-sm-3">
    <a href="http://chloi.io/">
      <div class="client-logo">
        <img id="chloi-logo" src="/images/logos/chloi.png">
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3">
    <a href="http://zozi.com/">
      <div class="client-logo">
        <img id="zozi-logo" src="/images/logos/zozi.png">
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3">
    <a href="http://grantoo.org/">
      <div class="client-logo">
        <img id="grantoo-logo" src="/images/logos/grantoo.png">
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3">
    <a href="https://www.dabohealth.com">
      <div class="client-logo">
        <img id="dabo-health-logo" src="/images/logos/dabo_health.png">
      </div>
    </a>
  </div>
</div>



<div class="client-logos row text-center">
  <div class="col-xs-6 col-sm-3">
  </div>
  <div class="col-xs-6 col-sm-3">
    <a href="http://artona.ca/">
      <div class="client-logo">
        <img id="artona-logo" src="/images/logos/artona.png">
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3">
    <a href="http://bildlist.com/">
      <div class="client-logo">
        <img id="bildlist-logo" src="/images/logos/bildlist.png">
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3">
  </div>
</div>
