<h3>
  Projects
</h3>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <h4>
      GoodBits
    </h4>
    <p>
      Enables you to collect &amp; curate content from the web and easily build it into an email newsletter.
    </p>
  </div>

  <div class="col-xs-12 col-sm-4">
    <h4>
      Caliper
    </h4>
    <p>
      A Performance Management &amp; Monitoring tool for Ember and Backbone applications.
    </p>
  </div>
</div>

<br>
<h3 class="header-small">
  We've Worked With:
</h3>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <h4>
      Contractual.ly
    </h4>
    <p>
      Making it easy for coworkers, partners, and signees to edit, share and discuss contract revisions &amp; negotiations.
    </p>
    <ul>
      <li>
        Product Consulting
      </li>
      <li>
        Code Cleanup
      </li>
    </ul>
    <a class="learn-more" href="http://www.contractual.ly/">visit project</a>
  </div>

  <div class="col-xs-12 col-sm-4">
    <h4>
      CommandWear
    </h4>
    <p>
      Currently under (shhh! top-secret!) development.
    </p>
    <ul>
      <li>
        Rapid-Prototyping
      </li>
    </ul>
  </div>

  <div class="col-xs-12 col-sm-4">
    <h4>
      Black Tusk
    </h4>
    <p>
      Potential product to assist customer service representives.
    </p>
    <ul>
      <li>
        Rapid-Prototyping
      </li>
      <li>
        Frontend
      </li>
      <li>
        Backend
      </li>
    </ul>
  </div>
</div>

<div id="client-logos" class="row text-center">
  <div class="col-xs-6 col-sm-3">
    <div class="client-logo">
      <a href="https://medeo.ca"><img id="medeo-logo" src="/images/logos/medeo.png"></a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <div class="client-logo">
      <a href="http://perch.co"><img id="perch-logo" src="/images/logos/perch.png"></a>
    </div>
  </div>
  <!-- <div class="col-xs-6 col-sm-3">
    <a href="https://habeas.co/"><img src="/images/logos/habeus.png"></a>
  </div> -->
  <div class="col-xs-6 col-sm-3">
    <div class="client-logo">
      <a href="http://gofreerange.com/"><img id="go-free-range-logo" src="/images/logos/go_free_range.png"></a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <div class="client-logo">
      <a href="http://www.steamclock.com/"><img id="steamclock-logo" src="/images/logos/steamclock.png"></a>
    </div>
  </div>
</div>
