<h3>
  Projects
</h3>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="project">
      <a href="http://goodbits.io" class="project-logo">
        <img id="goodbits-logo" src="/images/logos/goodbits.png" />
      </a>
      <p>
        Collect &amp; curate content from the web and build it into an email newsletter.
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="project">
      <a href="http://caliper.io" class="project-logo">
        <img id="caliper-logo" src="/images/logos/caliper.png" />
      </a>
      <p>
        A Performance Management &amp; Monitoring tool for Ember and Backbone applications.
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="project">
      <a href="http://yourcallisimportantto.us" class="project-logo">
        <img id="yciitu-logo" src="/images/logos/yciitu.png" />
      </a>
      <p>
        Replace your call center with this affordable hotline solution.
      </p>
    </div>
  </div>
</div>

<br>
<h3 class="header-small">
  We've Worked With:
</h3>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="project">
      <a href="http://www.contractual.ly" class="project-logo">
        <h4>
          Contractual.ly
        </h4>
      </a>
      <p>
        Making it easy to edit, share and discuss contract revisions &amp; negotiations.
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="project">
      <a href="http://www.commandwear.com" class="project-logo">
        <h4>
          CommandWear
        </h4>
      </a>
      <p>
        Give leaders better insight using an integrated wearable technology solution.
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="project">
      <a href="http://www.blacktuskmedia.com" class="project-logo">
        <h4>
          Black Tusk
        </h4>
      </a>
      <p>
        An interactive learning and support tool for your contact centers.
      </p>
    </div>
  </div>
</div>

<div id="client-logos" class="row text-center">
  <div class="col-xs-6 col-sm-3">
    <a href="https://medeo.ca">
      <div class="client-logo">
        <img id="medeo-logo" src="/images/logos/medeo.png">
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3">
    <a href="http://perch.co">
      <div class="client-logo">
        <img id="perch-logo" src="/images/logos/perch.png">
      </div>
    </a>
  </div>
  <!-- <div class="col-xs-6 col-sm-3">
    <a href="https://habeas.co/"><img src="/images/logos/habeus.png"></a>
  </div> -->
  <div class="col-xs-6 col-sm-3">
    <a href="http://gofreerange.com/">
      <div class="client-logo">
        <img id="go-free-range-logo" src="/images/logos/go_free_range.png">
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3">
    <a href="http://www.steamclock.com/">
      <div class="client-logo">
        <img id="steamclock-logo" src="/images/logos/steamclock.png">
      </div>
    </a>
  </div>
</div>
