<h3>Services</h3>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="icon-black-circle hidden-xs">
      <img src="/images/icons/icon-match.png">
    </div>

    <h4>
      Product Consulting
    </h4>

    <hr>

    <p>
      Execute on your ideas. We start by using our refined process to discover your needs. We scope, manage and build Prototypes, MVPs &amp; to-scale apps.
    </p>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="icon-black-circle icon-black-circle-network hidden-xs">
      <img src="/images/icons/icon-network.png">
    </div>

    <h4>
      Software Devising
    </h4>

    <hr>

    <p>
      Covering the full stack, from design to frontend, backend to deployment. We build engaging Web &amp; Mobile applications which consistently receive rave reviews.
    </p>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="icon-black-circle hidden-xs">
      <img src="/images/icons/icon-collab.png">
    </div>

    <h4>
      Code Therapy &amp; Training
    </h4>

    <hr>

    <p>
      Need help improving an existing codebase or improving your team's workflow? We'll get you out of technical debt. Leave it to our Rails, Angular &amp; Ember experts.
    </p>
  </div>
</div>
