* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #f6f6f6;
}
html.blog {
  background: #f0f0f0;

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}
body {
  color: #444;
  font-size: 15px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 782px) {
    font-size: 14px;
  }
}
.body-border-top {
  background: #42CCEE;
  height: 2px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
a {
  color: #47A4C2;
  word-wrap: break-word;
}
a:hover, a:focus {
  color: #F39914;
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'bh_proxima', sans-serif;
}
@media (max-width: 767px) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
}
.headline--numerals {
  font-size: 48px;
  font-style: italic;
  font-family: 'Times', 'Times New Roman', Georgia, serif;
  margin-top: 20px;

  @media (max-width: 500px) {
    font-size: 34px;
  }
}
.headline--alphas {
  color: #928a97;
  font-size: 25px;
  text-transform: lowercase;

  @media (max-width: 500px) {
    font-size: 18px;
  }
}
h2.brewhouse-numbers {
  margin-top: 60px;
}
.landing {
  h3 {
    color: #444;
    font-size: 36px;
    margin: 20px auto 40px;
    text-transform: uppercase;

    @media (max-width: 769px) {
      font-size: 29px;
      margin-bottom: 15px;
    }
  }
}
// To get the site out the door, remove this when redesigning / refactoring
h3.header-small {
  font-size: 26px;
  margin-top: 50px;
}

h4 {
  color: #444;
  font-size: 22px;
  display: block;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #333;
}


.navbar-main {
  background: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  height: 63px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;

  #brewhouse-logo {
    display: none;
  }
  .navbar-brand {
    margin-top: 7px;
    padding: 0;
  }
  #navbar-links {
    font-family: 'bh_proxima', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: lowercase;

    li {
      margin-left: 12px;

      &:first-child {
        margin-left: 0;
      }
    }
    a {
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;

      border-radius: 0;
      color: #888;
      line-height: 9px;
      padding: 27px 22px 24px;
    }

    .highlight-link {
      a {
        color: #000;
      }
    }
  }

  // Philippe and I decided to forego using Boostrap's column system
  // to do this and set it up manually
  .navbar-inner-wrapper {
    @media (min-width: 1230px) {
      margin: 0 auto;
      width: 1170px;
    }
    @media (max-width: 1230px) {
      margin: 0 auto;
      width: 95%;
    }
  }
  .logo-container {
    @media (max-width: 767px) {
      margin: 0 auto;
      width: 200px;
    }
  }
}

#navbar-main {
  -webkit-transition: background 0.15s ease-in;
  -moz-transition: background 0.15s ease-in;
  transition: background 0.15s ease-in;
}

#navbar-main.sticky {
  background: #47A4C2;
  background: rgba(71, 164, 194, 0.95);
  left: 0;
  position: fixed;
  top: 0;

  #brewhouse-logo {
    display: block;
  }
  #navbar-links {
    a {
      border-bottom: 0 solid #fff;
      color: #fff;
      display:block;

      &:hover {
        border-bottom-width: 3px;
      }
    }

    .highlight-link {
      a {
        color: #fff;
      }
    }
  }
}

// Bootstrap Overrides:
.container,
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
div.main {
  background: #fff;
  overflow: hidden;
  position: relative;
}
.main {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    width: 100%;
  }
}

#banner {
  padding-top: 110px;
  padding-bottom: 130px;
  margin: 0 auto;
  max-width: 1280px;

  img.img-responsive {
    margin: 0 auto;
  }

  h1 {
    color: #263646;
    font-family: 'bh_proxima', sans-serif;
    font-weight: 300;
    font-size: 45px;
    letter-spacing: 2px;
    margin: 0 auto 20px;

    a {
      color: #263646;

      &:hover {
        color: #263646;
      }
    }
  }

  h2, .learn-more {
    text-transform: uppercase;
  }

  h2 {
    background: #FF6813;
    background: rgb(255, 104, 19);
    color: #FFE296;
    font-size: 19px;
    height: 55px;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 9px 5px 6px;
    position: relative;
    // width: 100%;

    a {
      color: #F8DCC9;

      &:hover {
        color: #fff;
      }
    }

    @media (min-width: 768px) {
      font-size: 23px;
      padding-top: 17px;
    }
    @media (min-width: 850px) {
      font-size: 26px;
      padding-top: 16px;
    }
    @media (min-width: 1170px) {
      font-size: 34px;
      padding-top: 11px;
    }

    .arrow-tip-container {
      display: block;
      height: 55px;
      overflow: hidden;
      position: absolute;
      top: 0px;
      right: -55px;
      width: 55px;
    }
    .arrow-tip {
      -webkit-transform: rotate(45deg) skew(10deg, 10deg);

      display: block;
      height: 55px;
      margin: 0 0 0 -39px;
      width: 55px;
    }
    .arrow-tip-grad {
      background: #FF6813;
      background: rgb(255, 104, 19);
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  em {
    color: #fff;
    font-style: normal;
  }
}
.sub-heading {
  margin-top: 15px;
  color: #222;
  line-height: 1.5em;
  margin: 25px auto;

  @media (min-width: 770px) {
    font-size: 20px;
    width: 77%;
  }
}
.learn-more {
  color: #ccc;
  display: block;
  font-size: 13px;
  margin: 20px 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.learn-more.button {
  color: #32BFDA;
  border: 1px solid #32BFDA;
  padding: 10px 20px;
  text-align: center;
  width: 50%;

  &:hover {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;

    color: #F39914;
  }
}

//time-lapse

.team-video {
  @media (max-width: 750px) {
    display: none;
  }
}

img.team-photo {
  @media (min-width: 751px) {
    display: none;
  }
}

.content {
  margin: 100px auto;
  width: 80%;

  @media (max-width: 500px) {
    margin: 45px auto 35px auto;
  }
}

#community .row {
  margin-top: 15px;
}


@media screen and (min-width: 768px) {
  .img-full-width img {
    min-width: 100%;
  }
}
// Hack for small screen sizes to show taller shots
@media (max-width: 767px) {
  .img-full-width {
    width: 200%;
    margin-left: -50%;
  }
  #community .img-full-width {
    margin-left: -6%;
  }
}

.icon-black-circle {
  background: #28292B;
  border-radius: 100px;
  height: 75px;
  margin-bottom: 20px;
  padding: 13px;
  width: 75px;
}
.icon-black-circle-network {
  padding-left: 15px;
  padding-top: 15px;
}

#team {
  .team-member-name {
    display: block;
    font-size: 18px;
    font-family: 'bh_proxima', sans-serif;
    margin: 20px auto 30px;
    color: #555;

    @media (max-width: 782px) {
      font-size: 16px;
    }
  }
  .team-member-name small {
    display: block;
  }
  .social-buttons {
    display: inline;
    margin-left: 0.4em;

    @media (max-width: 782px) {
      display: inline block;
      position: relative;
      float: right;
    }
  }
  .bio p {
    margin-bottom: 30px;
  }
}

#services {
  h4 {
    margin-bottom: 10px;
  }
}

#projects {
  ul {
    color: #999;
    list-style: none;
    margin: 20px 0 20px 0;
    padding-left: 0;

    li {
      background: transparent url(/images/chemex-small.png) no-repeat scroll left center;
      margin-bottom: 6px;
      padding-top: 1px;
      text-indent: 18px;
    }
  }

  .client-logos {
    margin-top: 30px;

    div.client-logo {
      padding-top: 28px;
      height: 120px;
      margin-bottom: 30px;
    }
    img#medeo-logo {
      padding-top: 16px;
    }
    img#perch-logo {
      padding-top: 12px;
    }
    img#go-free-range-logo {
      margin-top: -16px;
    }
    img#steamclock-logo {
      margin-top: 10px;
    }
  }

  .project {
    padding: 20px;
  }

  .project-logo {
    display: block;
    height: 60px;
    vertical-align: middle;

    img {
      height: 30px;
    }

    img#goobits-logo {
      height: 30px;
    }

    img#caliper-logo {
      height: 32px;
    }

    img#yciitu-logo {
      height: 38px;
    }

    img#contractually-logo {
      height: 42px;
    }

    img#commandwear-logo {
      height: 42px;
    }

    img#blacktusk-logo {
      height: 42px;
    }
  }
}

#privacy-policy-section {
  padding:80px 0;
  h2 {
    font-size: 24px;
  }
  p {
    line-height: 1.7em;
  }
}


.map {
  background: #2F2D2C url("/images/ye-olde-vancouver.jpg") no-repeat scroll center top;
  height: 449px;
  padding: 0;
  margin: 0;
}

.map-inner {
  width: 89%;
}

.contact-details {
  background-color: #fff;
  height: 449px;
  float: right;
  display: block;
  padding: 20px 30px;
  width: 230px;
}
.contact-details h4,
.contact-details address {
  color: #222;
}

// BLOG SPECIFIC
.post {
  margin: 0 0 60px 0;

  h1, h2, h3 {
    color: #3a3a3a;
  }
  li, p, blockquote {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 16px;
    line-height: 28px;

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  blockquote {
    color: #999;
  }
  p {
    margin-bottom: 24px;
  }
  ul, ol {
    margin-bottom: 24px;
  }
  .social-actions {
    margin-top: 10px;
    float: right;
  }
  .img-author {
    margin: 5px 10px 5px 0;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}
#navbar-blog {
  background: transparent;
  left: 10px;
  margin-bottom: 0;
  position: fixed;
  top: 2px;
  width: 55px;

  @media (max-width: 767px) {
    display: none;
  }

  #brewhouse-logo {
    display: block;

    img {
      height: 55px;
    }
  }
}
.highlight {
  pre, code {
    background-color: #1d1f21;
  }
  pre {
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
}
#banner-blog {
  background: #fff;
  border-bottom: 3px solid #fcfcfc;
  min-height: 140px;

  .banner-content {
    height: 100%;
    margin: 5px auto;
    width: 80%;
  }
  section {
    h1 {
      color: #63636E;
      font-family: 'bh_proxima', sans-serif;
    }
    h1 a {
      color: #63636E;
      text-decoration: none;
    }
    h1 a:hover {
      color: #63636E;
      text-decoration: none;
    }
    h3 {
      color: #555;
      font-family: 'bh_proxima', sans-serif;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.5;
      margin-top: 0;
      text-transform: initial;
    }
  }
  .blog-contact-info {
    color: #999;
    font-family: 'bh_proxima', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 72px;
    text-align: right;

    a {
      text-decoration: none;
    }
  }
}

// Pagination
html.blog {
  .content {
    margin: 30px auto;
  }
  .pagination {
    position: relative;
    width: 80%;
    max-width: 730px;
    margin: 4rem auto;
    font-family: 'bh_proxima', sans-serif;
    font-size: 1.3rem;
    color: #9EABB3;
    text-align: center;
  }

  .pagination a {
    // color: #9EABB3;
  }

  .pagination a:hover {
    text-decoration: none;
  }

  /* Push the previous/next links out to the left/right */
  .older-posts,
  .newer-posts {
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    border: #47A4C2 1px solid;
    text-decoration: none;
    border-radius: 30px;
    transition: border ease 0.3s;
  }

  .older-posts {
    right: 0;
  }

  .page-number {
    display: inline-block;
    padding: 2px 0;
  }

  .newer-posts {
    left: 0;
  }

  .older-posts:hover,
  .newer-posts:hover {
    border-color: #F39914;
  }
}

@media (max-width: 767px) {
  body.on-post,
  body.on-blog {
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 17px;
    }
    .post > h1 {
      text-align: center;
    }
    p.meta {
      text-align: center;
    }
    p.meta span a {
      display: block;
    }
    .social-actions {
      float: none;
      text-align: center;
    }

    #banner-blog {
      section {
        h3 {
          -webkit-font-smoothing: antialiased;
          font-size: 14px;
        }
        .blog-contact-info {
          font-size: 14px;
          margin-top: 0;
          text-align: left;
        }
      }
    }
  }
}

.img-right {
  float: right;
  margin: 0 0 20px 30px;

  @media (max-width: 400px) {
    margin-left: 0;

    max-width: 100%;
  }
}

.on-blog .img-right {
  max-height: 160px;
}

.mailchimp-form {
  margin: 0 0 30px 0;
  padding: 20px;
  border: solid 1px #ddd;
  background: #42CCEE;

  #mc_embed_signup input.button {
    transition: all 0.3s;

    background: #FA5027;
    color: #fff;
    border-radius: 3px;
    font-weight: 700;
    height: 38px;
    margin-bottom: 0;
    text-transform: uppercase;
    width: 100%;
  }
  #mc_embed_signup input.button:focus,
  #mc_embed_signup input.button:active,
  #mc_embed_signup input.button:hover {
    background: #F5380B;
    color: #fff;
  }
  #mc_embed_signup input.email {
    border: 0;
    border-radius: 3px;
    font-family: 'bh_proxima', sans-serif;
    padding-left: 10px;
  }
  .subscribe-button {
    padding-top: 0 !important;
  }
  #mc_embed_signup form {
    padding: 10px 0;
  }
  p {
    color: #fff;
    font-family: 'bh_proxima', sans-serif;
    font-size: 150%;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
  }
  .subscribe-button {
    padding-top: 4px;
  }
}
// END BLOG SPECIFIC

footer {
  color: #bbb;
  padding: 40px 0 80px;

  a {
    color: #bbb;
  }
  p.copyright  {
    font-size: 13px;
    margin-top: 60px;
    text-transform: initial;
  }
  nav a {
    font-family: 'bh_proxima', sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
  }
}


.form-container  {
  margin-top: 40px;
}
.subheader {
  margin-top: -30px;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    margin-top: -10px;
  }
}
.lil-push {
  margin-bottom: 30px;
}
.form-group-lg .form-control--brew,
.form-control--brew {
  border-radius: 0;
}
.form-control--brew-textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.form-label--brewhouse {
  font-family: 'bh_proxima', sans-serif;
}
.form-control:focus {
  border-color: #ff6813;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 140, 30, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 140, 30, .6);
}
.btn--blue {
  transition: all 0.2s linear;

  background-color: #47A4C2;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: 'bh_proxima', sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.01em;
  padding: 15px 22px 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: 0.15em;

  &:hover,
  &:focus,
  &:active {
    background-color: darken(#47A4C2, 9%);
    color: #fff;
  }
}

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #EEE;
  border-left-width: 5px;
  border-radius: 3px;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p {
  font-family: 'bh_proxima', sans-serif;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout-info {
  border-left-color: #1B809E;
}
.callout-info h4 {
  color: #1B809E;
}

// Responsive Text Alignment
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}
@media (min-width: 992px) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}
@media (min-width: 1200px) {
 .text-lg-left { text-align: left; }
 .text-lg-right { text-align: right; }
 .text-lg-center { text-align: center; }
 .text-lg-justify { text-align: justify; }
}
