// Font Families

$serif:       'adelle', Georgia, 'Times New Roman', serif;
$sans-serif:  'proxima-nova', Helvetica, Arial, sans-serif;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: #f6f6f6;
}
html.blog {
  background: #fff;

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $text-black;
  font: 1.6em/1.5 $serif;

  // max-width: 1280px;
  margin: 0 auto;

}
p.lede {
  font-size: 1.125em;
  line-height: 1.375;
}
a {
  color: #47A4C2;
  cursor: pointer;
  word-wrap: break-word;
}
a:hover, a:focus {
  color: #F56741;
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #ccc;
}
input:-ms-input-placeholder {
  color: #ccc;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

audio {
  margin-bottom: 1em;
}

em {
  font-style: italic;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
}

h2 {
  font-weight: bold;
}

.content h2 {
  margin: 1.5em auto .75em;
}

h3 {
  font-family: $sans-serif;
  font-size: 1.25em;
  line-height: 1.325;
  margin-bottom: 1.5em;
  text-transform: none;
}

h4 {
  font-size: 22px;
  line-height: 1.5;
  display: block;

  @media (max-width: 767px) {
    font-size: 17px;
  }
}

h5 {
  color: lighten($text-black, 40);
  font-size: .75em;
  margin-bottom: .25em;
  text-transform: uppercase;
}

.headline--numerals {
  font-size: 3em;
  font-style: italic;
  font-family: $serif;
  margin-top: 20px;

  @media (max-width: 500px) {
    font-size: 2.125em;
  }
}
.headline--alphas {
  color: #928a97;
  font-size: 25px;
  text-transform: lowercase;

  @media (max-width: 500px) {
    font-size: 18px;
  }
}
h2.brewhouse-numbers {
  margin-top: 60px;
}

// Refactor this
h3.header-small {
  color: #c0c0c0;
  font-size: 24px;
  margin-top: 80px;
  margin-bottom: 15px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #98D0E2;
}
hr.hr--extra-push {
  margin-top: 40px;
  margin-bottom: 40px;
}
.light {
  border-color: #eee;
}

.navbar-toggle-offcanvas {
  // fix iOS Safari bug
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.navbar-main {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: background 0.15s ease-in;
  -moz-transition: background 0.15s ease-in;
  transition: background 0.15s ease-in;

  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  height: 63px;
  margin-bottom: 0;
  width: 100%;
  z-index: 1000;

  .navbar-brand {
    display: block;
    float: left;
    height: 48px;
    margin-top: 7px;
    padding: 0;
    width: 48px;
  }
  #navbar-links {
    font-family: $sans-serif;
    font-size: 16px;

    li {
      margin-left: 12px;

      &:first-child {
        margin-left: 0;
      }

      a {
        -webkit-transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;

        border-radius: 0;
        color: $text-black;
        line-height: 9px;
        padding: 26px 18px 24px;
        text-shadow: none;

        &:hover,
        &:focus {
          color: rgba($text-black, .8);
        }
      }
    }
    .highlight-link {
      a {
        color: #000;
      }
    }
  }
  .logo-container {
    float: left;
    .navbar-btn {
      float: right;
      margin-left: 15px;
    }
  }
}

.arrow {
  position: relative;
}

.arrow--left:before {
  border: solid transparent;
  border-right-color: #fff;
  border-width: .5em;
  content: "";
  height: 0;
  margin-top: -.5em;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.arrow--left:hover:before,
.arrow--left:focus:before {
    border-right-color: rgba(255,255,255,.9);
  }

// Removing margin from bootstrap's .navbar-brand class
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
  margin-left: 0;
}

// Bootstrap Overrides:
.container,
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
div.main {
  background: #fff;
  overflow: hidden;
  position: relative;
}
.main {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    width: 100%;
  }
}

img.img-centered {
  margin: 0 auto;
}

.sub-heading {
  margin-top: 15px;
  color: #222;
  line-height: 1.5em;
  margin: 25px auto;

  @media (min-width: 770px) {
    font-size: 20px;
    width: 77%;
  }
}
.learn-more {
  color: #ccc;
  display: block;
  font-size: 13px;
  margin: 20px 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.content {
  margin-top: 4em;
  margin-bottom: 4em;
}

.content--extra-push {
  margin-bottom: 50px;
  margin-top: 125px;

  @media (max-width: 500px) {
    margin: 85px auto 45px auto;
  }
}

#community .row {
  margin-top: 15px;
}

.page-header {
  border: 0;
  margin: 96px 0 48px;
  p {
    font: 18px/1.5 $serif;
    margin-bottom: 1em;
  }
  a {
    color: $brand-primary;
    &:hover,
    &:focus {
      color: darken($brand-primary, 20);
    }
  }
  @media (min-width: 768px) {
    p {
      font-size: 24px;
    }
  }
}

.page-title {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.175;
  @media (min-width: 768px) {
    font-size: 3em;
  }
  @media (min-width: 992px) {
    font-size: 4em;
  }
}

.page-header .page-title + p {
  margin-top: 2em;
}

@media screen and (min-width: 768px) {
  .img-full-width img {
    min-width: 100%;
  }
}
// Hack for small screen sizes to show taller shots
@media (max-width: 767px) {
  .img-full-width {
    width: 200%;
    margin-left: -50%;
  }
  #community .img-full-width {
    margin-left: -6%;
  }
}

.icon-black-circle {
  background: #28292B;
  border-radius: 100px;
  height: 75px;
  margin-bottom: 20px;
  padding: 13px;
  width: 75px;
}
.icon-black-circle-network {
  padding-left: 15px;
  padding-top: 15px;
}

#team {
  .logo--brewhouse {
    margin-bottom: 20px;
    width: 80px;
  }
  .team-member {
    border-top: 1px solid #f6f6f6;
    display: table;
    padding: 2em 0 0;
    &.first {
      border-top: 0;
    }
    .bio p {
      font-size: 14px;
      margin-bottom: 15px;
    }
    .col-sm-6:first-child {
      padding-bottom: 20px;
    }
    @media (min-width: 768px) {
      width: 100%;
      .container > div {
        display: table-cell;
        float: none;
      }
      .team-member-photo {
        vertical-align: bottom;
        img {
          margin: auto;
          vertical-align: bottom;
          width: 100%;
        }
      }
    }
    @media (min-width: 992px) {
      .col-sm-6:first-child {
        padding-bottom: 60px;
      }
      .bio p {
        font-size: 18px;
      }
    }
  }
  .team-member-name {
    display: block;
    margin: 36px auto 24px;
    @media (min-width: 992px) {
      margin-top: 72px;
    }
    h2 {
      margin-top: 0;
    }

    @media (max-width: 782px) {
      font-size: 18px;
    }
  }
  .team-member-name em {
    color: #b0b0b0;
    display: block;
    font: 400 italic 16px $serif;

    @media (max-width: 782px) {
      font-size: 15px;
    }
  }
  .social-buttons {
    display: inline;
    font-size: 24px;
  }
  .team-member-photo {
    margin: 0 auto;
    vertical-align: bottom;
  }
}

#services {
  > div {
    margin-bottom: 1em;
    margin-top: .5em;
    font-size: 1.125em;
  }
  h4 {
    font-weight: 700;
    margin-bottom: 10px;
  }
  img {
    height: 48px;
    width: auto;
    margin-bottom: .5em;
  }
}

#projects {
  // GIT CONFLICT
  ul {
    color: #999;
    list-style: none;
    margin: 20px 0 20px 0;
    padding-left: 0;
  }

  h2 {
    margin-bottom: 2em;
  }

  .client-logos {
    color: #999;
    list-style: none;
    margin: 4em 0;
    padding-left: 0;

    li {
      height: 90px;
    }
    li:nth-child(2n+1) {
      clear: left;
    }
    @media (min-width: 768px) {
      li:nth-child(2n+1) {
        clear: none;
      }
      li:nth-child(3n+1) {
        clear: left;
      }
    }
    @media (min-width: 992px) {
      li:nth-child(3n+1) {
        clear: none;
      }
      li:nth-child(4n+1) {
        clear: left;
      }
    }
    a {
      display: block;
      margin-bottom: 2em;
      padding: .75em;
      -webkit-transition: all .15s ease-in-out;
      -moz-transition: all .15s ease-in-out;
      transition: all .15s ease-in-out;
      img {
        height: auto;
        width: auto;
        max-height: 30px;
        max-width: 80%;
        vertical-align: middle;
        -webkit-transition: all .15s ease-in-out;
        -moz-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
      }
      #contour-logo {
        max-height: 42px;
      }
      &:hover,
      &:focus {
        border-color: #47A4C2;
        img {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }
  }
}

.work-link {
  img {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
  &:hover,
  &:focus {
    img {
      -webkit-filter: grayscale(0);
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      filter: none;
    }
  }
}

.project-hero {
  margin: 0 auto 4em;
}

.project-details {
  margin: 2em 0 0;
}

.project-details ul {
  padding: 0;
  margin-bottom: 0;
  li {
    display: inline;
    list-style: none;
    &:after {
      content: ", "
    }
    &:last-child:after {
      content: "";
    }
  }
}

.hire-us {
  margin-bottom: 4em;
  h2 {
    margin: 0 0 .5em;
  }
}

#privacy-policy-section {
  padding:80px 0;
  h2 {
    font-size: 24px;
  }
  p {
    line-height: 1.7em;
  }
}

.cover {
  background-attachment: static;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 4em 0;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .container,
  .clearfix {
    position: relative;
    z-index: 2;
  }
  a {
    color: rgba(#fff, .8);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
  .project-logo {
    display: block;
  }
  @media (min-width: 768px) {
    padding: 8em 0;
    .bh-product {
      top: -11.75em;
    }
  }
}

.lets-talk {
  background-color: darken($brand-primary, 40);
  color: #fff;
  padding-bottom: 2em;
  padding-top: 1em;
}

.lets-talk .container > div {
  margin-top: 1em;
}

.lets-talk .btn {
  margin-right: 1em;
}

// BLOG SPECIFIC

.post {
  margin: 0 0 60px 0;
  position: relative;

  h1 {
    margin-bottom: .5em;
  }

  h1, h2, h3 {
    color: #3a3a3a !important;
    font-weight: 700;
  }
  li, p, blockquote {
    font-size: 1.125em;
    line-height: 1.625;

    @media (max-width: 767px) {
      font-size: .875em;
      line-height: 1.5;
    }
  }
  p {
    margin-bottom: 24px;
  }
  ul, ol {
    margin-bottom: 24px;
  }
  .img-author {
    margin: 5px 10px 5px 0;
  }
  img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

blockquote {
  color: #999;
  font-family: $serif;
  font-style: italic;
  font-weight: 400;
  padding: 0 0 0 1em;
  i, em {
    font-style: normal;
  }
}

.meta,
.post-date {
  font-family: $sans-serif;
  font-size: .875em;
  text-transform: uppercase;
}
.page-header .meta {
  margin-top: 1.5em;
}
.blog div.meta a {
  display: block;
}
.blog div.meta img {
  margin-bottom: .5em;
}

 .social-actions {
  margin-top: 10px;
}

@media (min-width: 992px) {
  .blog .post .meta {
    position: absolute;
    top: 0;
    left: 100%;
    text-align: center;
    width: 60%;
  }
  .blog div.meta a {
    display: block;
  }
}

.highlight {
  pre, code {
    background-color: #1d1f21;
  }
  pre {
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: .75em;
    }

    overflow: auto;
    word-wrap: normal;
    white-space: pre;

    code {
      white-space: pre;
    }
  }
}
#banner-blog {
  background: #fff;
  border-bottom: 3px solid #fcfcfc;
  min-height: 140px;

  section {
    h1 {
      color: #63636E;
    }
    h1 a {
      color: #63636E;
      text-decoration: none;
    }
    h1 a:hover {
      color: #63636E;
      text-decoration: none;
    }
    h3 {
      color: #555;
      font-size: .925em;
      font-weight: 500;
      line-height: 1.5;
      margin-top: 0;
      text-transform: initial;
    }
  }
  .blog-contact-info {
    color: #999;
    font-size: .925em;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 74px;
    text-align: right;

    a {
      text-decoration: none;
    }
  }
}

// Post List

#sharing {
  background: lighten(#42a4c5, 45%);
}
.post-list > div {
  padding-bottom: 3em;
  padding-top: 3em;
}
.post-link {
  display: block;
  margin: 1.5em 0;
}
.post-list .post-title {
  font-family: $serif;
  margin: 0;
}
.post-list h3 {
  font-size: 1.75em;
}
.post-list .post-date {
  color: #222;
}

.post-list img {
  max-width: 100%;
}

// Pagination
html.blog {

  .pagination {
    position: relative;
    width: 100%;
    max-width: 730px;
    margin: 4rem auto;
    font-size: 1.3rem;
    color: #9EABB3;
    text-align: center;
  }

  .pagination a {
    position: absolute;
  }

  .older-posts {
    right: 0;
  }

  .page-number {
    display: inline-block;
    padding: 2px 0;
  }

  .newer-posts {
    left: 20px;
  }

  .older-posts:hover,
  .newer-posts:hover {
    border-color: #F39914;
  }
}

@media (max-width: 767px) {
  body.on-post,
  body.on-blog {
    h2 {
      font-size: 1.375em;
    }
    .post h3 {
      font-size: 1.0625em;
    }
    .post > h1 {
      text-align: center;
    }
    .social-actions {
      float: none;
      text-align: center;
    }

    #banner-blog {
      section {
        h3 {
          -webkit-font-smoothing: antialiased;
          font-size: .875em;
        }
        .blog-contact-info {
          font-size: .875em;
          margin-top: 0;
          text-align: left;
        }
      }
    }
  }
}
.img-right {
  float: right;
  margin: 0 0 20px 30px;

  @media (max-width: 400px) {
    margin-left: 0;

    max-width: 100%;
  }
}

.on-blog .img-right {
  max-height: 160px;
}

.hire-us-form, .mailchimp-form {
  border: solid 1px #e7e7e7;
  background: #fff;
  margin: 20px 0 70px 0;
  padding: 1.5em 1.5em 3em;

  p {
    color: #909393;
    font-family: $sans-serif;
  }
}

.mailchimp-form {

  #mc_embed_signup input.button {
    transition: all 0.3s;

    background-color: #47A4C2;
    color: #fff;
    border-radius: 3px;
    font-weight: 300;
    height: 45px;
    margin-top: -5px;
    margin-bottom: 0;
    padding-top: 11px;
    font-size: 1.0625em;
    text-transform: uppercase;
    width: 100%;
  }
  #mc_embed_signup input.button:focus,
  #mc_embed_signup input.button:active,
  #mc_embed_signup input.button:hover {
    background-color: darken(#47A4C2, 9%);
    color: #fff;
  }
  #mc_embed_signup input.email {
    border: solid 1px #ddd;
    border-radius: 3px;
    font-family: $sans-serif;
    height: 45px;
    padding-left: 10px;
  }
  #mc_embed_signup form {
    padding: 10px 0;
  }
  .subscribe-button {
    padding-top: 4px;
  }
}
// END BLOG SPECIFIC

#footer {
  background-color: darken($brand-primary, 40);
  color: rgba(#fff, .7);
  font-size: 0.925em;
  padding: .75em 0;

  a {
    color: rgba(#fff, .7);
    &:hover,
    &:focus {
      color: #fff;
    }
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      display: block;
      padding: .75em 1em .75em 0;
    }
    @media (min-width: 768px) {
      li {
        display: inline-block;
      }
    }
  }

  p.copyright  {
    text-transform: initial;
    margin: 0;
    padding: .75em 0;
  }

}


.form-container  {
  margin-top: 40px;
}
.subheader {
  margin-top: -30px;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    margin-top: -10px;
  }
}
.lil-push {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 3em;
}
.form-control {
  background: none;
  border: 0;
  border-bottom: 1px solid lighten($text-black, 40);
  color: $text-black;
  display: inline-block;
  height: auto;
  font-family: $sans-serif;
  font-size: 1.25em;
  padding: .25em 0;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  &:focus {
    border-color: $brand-primary;
  }
}
.form-control:focus {
  border-color: #ff6813;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.control-label {
  color: lighten($text-black, 40);
  font-family: $sans-serif;
  font-size: .75em;
  text-transform: uppercase;
}
#banner form {
  ::-webkit-input-placeholder {
    color: rgba($text-black,.5);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgba($text-black,.5);
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: rgba($text-black,.5);
  }
  input:-ms-input-placeholder {
    color: rgba($text-black,.5);
  }
}

figure figcaption {
  font-style: italic;
  border-bottom: 1px solid lighten($text-black, 70);
  margin-bottom: 2em;
  padding: .5em 0;
}

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #EEE;
  border-left-width: 5px;
  border-radius: 3px;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p {
  font-family: $sans-serif;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout-info {
  border-left-color: #1B809E;
}
.callout-info h4 {
  color: #1B809E;
}

.text-red {
  color: #C20202;
}
.text-orange {
  color: #FB8B41;
}

// Responsive Text Alignment
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}
@media (min-width: 992px) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}
@media (min-width: 1200px) {
 .text-lg-left { text-align: left; }
 .text-lg-right { text-align: right; }
 .text-lg-center { text-align: center; }
 .text-lg-justify { text-align: justify; }
}

.col-no-padding {
  padding: 0;
}


/*
*   CSS file with Bootstrap grid classes for screens bigger than 1600px. Just add this file after the Bootstrap CSS file and you will be able to juse col-xl, col-xl-push, hidden-xl, etc.
*
*   Author: Marc van Nieuwenhuijzen
*   Company: WebVakman
*   Site: WebVakman.nl
*
*/

.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl{
  display: none !important;
}

// @media (min-width: 1600px) {
//   .container {
//       width: 1570px;
//   }

//   .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
//       float: left;
//   }

//   .col-xl-12 {
//       width: 100%;
//   }

//   .col-xl-11 {
//       width: 91.66666667%;
//   }

//   .col-xl-10 {
//       width: 83.33333333%;
//   }

//   .col-xl-9 {
//       width: 75%;
//   }

//   .col-xl-8 {
//       width: 66.66666667%;
//   }

//   .col-xl-7 {
//       width: 58.33333333%;
//   }

//   .col-xl-6 {
//       width: 50%;
//   }

//   .col-xl-5 {
//       width: 41.66666667%;
//   }

//   .col-xl-4 {
//       width: 33.33333333%;
//   }

//   .col-xl-3 {
//       width: 25%;
//   }

//   .col-xl-2 {
//       width: 16.66666667%;
//   }

//   .col-xl-1 {
//       width: 8.33333333%;
//   }

//   .col-xl-pull-12 {
//       right: 100%;
//   }

//   .col-xl-pull-11 {
//       right: 91.66666667%;
//   }

//   .col-xl-pull-10 {
//       right: 83.33333333%;
//   }

//   .col-xl-pull-9 {
//       right: 75%;
//   }

//   .col-xl-pull-8 {
//       right: 66.66666667%;
//   }

//   .col-xl-pull-7 {
//       right: 58.33333333%;
//   }

//   .col-xl-pull-6 {
//       right: 50%;
//   }

//   .col-xl-pull-5 {
//       right: 41.66666667%;
//   }

//   .col-xl-pull-4 {
//       right: 33.33333333%;
//   }

//   .col-xl-pull-3 {
//       right: 25%;
//   }

//   .col-xl-pull-2 {
//       right: 16.66666667%;
//   }

//   .col-xl-pull-1 {
//       right: 8.33333333%;
//   }

//   .col-xl-pull-0 {
//       right: auto;
//   }

//   .col-xl-push-12 {
//       left: 100%;
//   }

//   .col-xl-push-11 {
//       left: 91.66666667%;
//   }

//   .col-xl-push-10 {
//       left: 83.33333333%;
//   }

//   .col-xl-push-9 {
//       left: 75%;
//   }

//   .col-xl-push-8 {
//       left: 66.66666667%;
//   }

//   .col-xl-push-7 {
//       left: 58.33333333%;
//   }

//   .col-xl-push-6 {
//       left: 50%;
//   }

//   .col-xl-push-5 {
//       left: 41.66666667%;
//   }

//   .col-xl-push-4 {
//       left: 33.33333333%;
//   }

//   .col-xl-push-3 {
//       left: 25%;
//   }

//   .col-xl-push-2 {
//       left: 16.66666667%;
//   }

//   .col-xl-push-1 {
//       left: 8.33333333%;
//   }

//   .col-xl-push-0 {
//       left: auto;
//   }

//   .col-xl-offset-12 {
//       margin-left: 100%;
//   }

//   .col-xl-offset-11 {
//       margin-left: 91.66666667%;
//   }

//   .col-xl-offset-10 {
//       margin-left: 83.33333333%;
//   }

//   .col-xl-offset-9 {
//       margin-left: 75%;
//   }

//   .col-xl-offset-8 {
//       margin-left: 66.66666667%;
//   }

//   .col-xl-offset-7 {
//       margin-left: 58.33333333%;
//   }

//   .col-xl-offset-6 {
//       margin-left: 50%;
//   }

//   .col-xl-offset-5 {
//       margin-left: 41.66666667%;
//   }

//   .col-xl-offset-4 {
//       margin-left: 33.33333333%;
//   }

//   .col-xl-offset-3 {
//       margin-left: 25%;
//   }

//   .col-xl-offset-2 {
//       margin-left: 16.66666667%;
//   }

//   .col-xl-offset-1 {
//       margin-left: 8.33333333%;
//   }

//   .col-xl-offset-0 {
//       margin-left: 0;
//   }

//   .visible-xl {
//       display: block !important;
//   }

//   table.visible-xl {
//       display: table;
//   }

//   tr.visible-xl {
//       display: table-row !important;
//   }

//   th.visible-xl, td.visible-xl {
//       display: table-cell !important;
//   }

//   .visible-xl-block {
//       display: block !important;
//   }

//   .visible-xl-inline {
//       display: inline !important;
//   }

//   .visible-xl-inline-block {
//       display: inline-block !important;
//   }

//   .hidden-xl {
//       display: none !important;
//   }
// }
