@mixin theme($name, $colour) {
  .#{$name} {
    background: darken($colour, 45);
    .content h2,
    .navbar-btn {
      color: $colour;
    }
    .btn--header {
      background: #fff;
      color: $colour !important;
      &:hover,
      &:focus,
      &:active {
        background-color: lighten($colour, 50);
        background-color: rgba(#fff, .9);
      }
      &:active {
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.225), inset 0 4px 8px rgba(0,0,0,0.15), inset 0 -1px 0 $colour, 0 1px 0 rgba(255,255,255,0.225);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.225), inset 0 4px 8px rgba(0,0,0,0.15), inset 0 -1px 0 $colour, 0 1px 0 rgba(255,255,255,0.225);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.225), inset 0 4px 8px rgba(0,0,0,0.15), inset 0 -1px 0 $colour, 0 1px 0 rgba(255,255,255,0.225);
      }
    }
    .btn--footer {
      background: #fff;
      color: darken($colour, 40) !important;
      &:hover,
      &:focus,
      &:active {
        background-color: lighten($colour, 50);
        background-color: rgba(#fff, .9);
      }
      &:active {
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.225), inset 0 4px 8px rgba(0,0,0,0.15), inset 0 -1px 0 darken($colour, 40), 0 1px 0 rgba(255,255,255,0.225);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.225), inset 0 4px 8px rgba(0,0,0,0.15), inset 0 -1px 0 darken($colour, 40), 0 1px 0 rgba(255,255,255,0.225);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.225), inset 0 4px 8px rgba(0,0,0,0.15), inset 0 -1px 0 darken($colour, 40), 0 1px 0 rgba(255,255,255,0.225);
      }
    }
    .navbar-main,
    .page-header,
    .navbar-default .navbar-toggle:hover .icon-bar,
    .navbar-default .navbar-toggle:focus .icon-bar {
    	background: $colour;
    	color: #fff;
    }
    .navbar-main {
      background: rgba($colour, .99);
    }
    .offcanvas-menu {
      background-color: $colour;
      ul li a:hover {
        color: lighten($colour, 3);
      }
    }
    .lets-talk {
      background-color: darken($colour, 40);
    }
    #footer {
      background-color: darken($colour, 45);
    }
  }
}

@include theme(url_index, #47a4c3);
@include theme(url_meet_the_team, #F56741);
@include theme(url_work_with_us, #3FBA68);
@include theme(blog, #4760c3);
@include theme(url_thanks, #3FBA68);
@include theme(url_404, #000);
