{% include doctypes.html %}
<html lang="en-us">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    <title>Brewhouse - Vancouver's leading Rails web development agency</title>
    <meta name="description" content="Vancouver's leading Rails web development agency">
    <meta name="keywords" content="cascadia vancouver web mobile ruby rails product development developers agency hire">
    <meta property="og:title" content="Brewhouse - Vancouver's leading Rails developers">

    {% include head.html %}
  </head>
  <body>
    {% include ga.html %}

    <div class="container main landing">
      {% include header_and_logo.html %}

      {{ content }}
    </div>

    <!-- <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-11 col-xs-offset-1">
            <p>
              &copy; 2014 brewhouse software, inc.
            </p>
          </div>--><!--col-xs-12-->
        <!--</div>--><!-- row -->
      <!--</div>--><!-- container -->
    <!--</footer> -->

    {% javascript app %}
  </body>
</html>
