{% capture on_post %}{% if page.path contains '_posts' %}on-post{% else %}on-blog{% endif %}{% endcapture %}

{% include doctypes.html %}
<html lang="en-us" class="blog">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    <title>{% if page.title %}{{ page.title }} - {% endif %}the brew pub - brewhouse software blog</title>
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}the brew pub - brewhouse software blog">
    {% if page.excerpt %}
      <meta name="description" content="{{ page.content | strip_html | truncatewords: 80}}">
      <meta name="og:description" content="{{ page.content | strip_html | truncatewords: 80}}">
    {% else %}
    <meta name="description" content="Writings from brewhouse.io, makers of goodbits.io and stellar apps for our clients.">
    <meta property="og:description" content="Writings from brewhouse.io, makers of goodbits.io and stellar apps for our clients.">
    {% endif %}

    <link rel="alternate" type="application/atom+xml" href="/blog/index.xml" title="The Brew Pub atom feed">

    {% include head.html %}
  </head>
  <body class="{{ on_post }}">
    {% include ga.html %}

    <nav id="navbar-blog" class="navbar navbar-default navbar-main" role="navigation">
      <a id="brewhouse-logo" class="navbar-brand internal" rel="home" href="/" title="brewhouse logo"><img src="/images/brewhouse-logo-blog-2.png"></a>
    </nav>

    <div class="container main">
      {% include header_and_logo_blog.html %}

      {{ content }}
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-11 col-xs-offset-1">
            <p>
              &copy; 2014 <a href="http://brewhouse.io">brewhouse software, inc.</a>
            </p>
          </div><!--col-xs-12 -->
        </div><!-- row -->
      </div><!-- container -->
    </footer>

    {% javascript app %}
  </body>
</html>
