---
layout: blog
---

{% assign author = site.data.authors[page.author] %}

<div class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-9">

      <div class="post">
        <div class="social-actions">
          <a href="https://twitter.com/share?via=BrewhouseTeam" class="twitter-share-button" data-lang="en">Tweet</a>
        </div>

        <h1>
          {{ page.title }}
        </h1>
        <p class="meta">
          {% if author %}
            <span>
              <img class="img-circle img-author" src="{{ author.email | to_gravatar }}" alt="A photo of {{ author.name }}" width="55">

              <a href="{{ author.web }}" target="_blank">{{ author.name }}</a> wrote this on {{ page.date | date_to_string }}
            </span>
          {% endif %}
        </p>

        {{ content }}

        <div class="mailchimp-form">
          <p>
            Drop your email below to receive Brew Pub's writings in your mailbox.
          </p>
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup" class="row">
            <form action="http://brewhouse.us8.list-manage.com/subscribe/post-json?u=c524f6473f5901cae1230a052&amp;id=14f9de4be1" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

              <div class="col-sm-8">
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required style="width: 100%; margin: 0 0 4% 0">
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_c524f6473f5901cae1230a052_14f9de4be1" value="">
              </div>

              <div class="col-sm-4 subscribe-button">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>

        <div id="disqus_thread"></div>

        <!-- disqus -->
        <script type="text/javascript">
            var disqus_shortname = 'brewhouse';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        <!-- /disqus -->

      </div><!-- /post -->

    </div>
  </div><!-- /row -->
</div><!-- /content-->

<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
