---
layout: application
---

<article>

  <div class="page-header">
    <div class="container">
      <div class="col-xs-12">
        <h1 class="page-title">
          {% if page.headline %}
            {{ page.headline }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
      </div>
      <aside class="project-details col-xs-12 col-no-padding">
        <div class="col-sm-6">
          {% if page.tags %}
            <h5>Responsibilities</h5>
            <ul>
              {% for tag in page.tags %}
                <li>{{ tag }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="col-sm-6">
          {% if page.project_link %}
            <a href="{{ page.project_link }}" class="btn btn-sm btn-link">Launch Project <span class="fi-arrow-right"></span></a>
          {% endif %}
        </div>
      </aside>
    </div>
  </div>

  <div id="article-start" class="content">

    {% if page.hero %}
      <!-- needs to be refactored to make images appear on mobile -->
      <img src="/images/work/{{ page.hero }}" alt="{{ page.title }}" class="project-hero img-responsive hidden-xs">
    {% endif %}

    <div class="container">

      <div class="col-sm-8">

        <div class="project-description clearfix">

          {{ content }}

        </div><!-- /post -->

      </div>

    </div>

</article>

<section class="hire-us content container text-center">
  
  {% if page.cta %}
    <h2>{{ page.cta }}</h2>
  {% else %}
    <h2>Have an idea you'd like to ship?</h2>
  {% endif %}

  <a href="/work-with-us.html" class="btn btn-primary">
    Let us help you!
  </a>

</section>
